# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- few examples of evaluating arithmetic expressions in Python
- Some of the commonly used libraries used by Data Scientists
- Some of the popular languages that Data Scientists
- Creating a code cell to convert minutes to hour

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. Scikit-Learn

| Data Science tools |
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python:
- 4 + 4
- 4 * 10
- 25 ** .5
- 2 ** -3

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
min=200
hour=60
print(min/hour)

3.3333333333333335

# Artour
Shahin